<mat-accordion class="example-headers-align" multi>
  @for(component of componentDetails; track component) {

  <mat-expansion-panel [expanded]="true">
     <mat-expansion-panel-header>
       <mat-panel-title class="justify-center text-3xl xs:text-2xl dark:text-amber-50">
  {{ component.label }}
  </mat-panel-title>
</mat-expansion-panel-header>
  @if(component.name === 'details-info-card') {
  <app-details-info-card />
  }
  @if(component.name === 'education') {
  <app-education />
  }
  @if(component.name === 'lang-hobbies') {
  <app-lang-hobbies />
  }
  </mat-expansion-panel>
  }
</mat-accordion>
