/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@ctrl/ngx-emoji-mart/picker';

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer utilities {
  .dark {
    @apply bg-slate-700 text-white;
  }

  .light {
    @apply  text-amber-950;
  }
}

// some styles for material stuff to avoid doing deprecated ::ng-deep
.mat-expansion-panel {
  box-shadow: none !important;
}

/* Dark mode styles */
.dark .mat-expansion-panel {
  @apply bg-slate-700 text-amber-100;
}

.light .mat-expansion-panel {
  @apply bg-amber-50 text-amber-950;
}

.light .mat-expansion-indicator::after {
  border-color: black;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.light .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  @apply bg-amber-50 text-amber-950;
}

.dark .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  @apply bg-slate-700 text-amber-100;
}
