/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer utilities {
  .dark {
    @apply bg-slate-700 text-amber-100;
  }

  .light {
    @apply bg-amber-50 text-amber-950;
  }
}
