/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@ctrl/ngx-emoji-mart/picker';

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer utilities {
  .dark {
    @apply bg-slate-700 text-white;
  }

  .light {
    @apply text-amber-950;
  }
}

// some styles for material stuff to avoid doing deprecated ::ng-deep
.mat-expansion-panel {
  box-shadow: none !important;
}

/* Dark mode styles */
.dark .mat-expansion-panel {
  @apply bg-slate-700 text-amber-100;
}

.light .mat-expansion-panel {
  @apply bg-amber-50 text-amber-950;
}

.light .mat-expansion-indicator::after {
  border-color: black;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.light .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  @apply bg-amber-50 text-amber-950;
}

.dark .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  @apply bg-slate-700 text-amber-100;
}

.light .contact-dialog-container {
  display: block;
  border-radius: 8px;
  padding: 8px 16px 16px;
  @apply bg-white text-black;
}

.dark .contact-dialog-container {
  display: block;
  border-radius: 8px;
  padding: 8px 16px 16px;
  @apply bg-slate-700 text-amber-100;
}

.custom-input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
  block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white;
}

.custom-label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.custom-button{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded dark:bg-blue-600 dark:hover:bg-blue-800;
}




