<div class="bg-sky-300 flex justify-between">
  <div class="flex flex-row justify-center">
    <img ngSrc="assets/imgs/k7.jpg" alt="picture of chania's port" fill
         class="cover-img h-48 w-96 p-1 rounded-2xl stroke-2 stroke-amber-400" />
    <div class="flex-col justify-center">
      <img ngSrc="assets/imgs/imageonline-co-roundcorner.png"
         alt="picture of chania's"
         fill class="personal-picture flex self-center content-center justify-items-center" />
    </div>
    <div class="flex flex-row bg-amber-200">
      <div class="bg-pink-500 basis-1/4">01</div>
      <div class="bg-pink-500 basis-1/4">02</div>
      <div class="bg-pink-500 basis-1/2">03</div>
    </div>
  </div>

  <div class="flex justify-center m-1.5">
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-4xl font-bold text-amber-400">Kostas Koutoupis</h1>
      <h2 class="text-2xl font-bold text-amber-400">Software Engineer</h2>
      <h3 class="text-xl font-bold text-amber-400">Athens, Greece</h3>
    </div>
</div>
</div>


