<div class="grid mb-8 border border-gray-200 rounded-2xl shadow-sm
 dark:border-gray-700 md:mb-12 md:grid-cols-2  dark:bg-gray-800 m-2">
  <figure class="flex flex-col items-center justify-between p-2 bg-purple-200 border-b border-gray-200 rounded-t-2xl
  md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 lg:mb-8">
      <h3 class="text-2xl font-semibold text-center"> Développeur Angular - Springboot Java</h3>
      <br>
      <p class="my-4">
        Smile est une société de services en logiciels libres française spécialisée dans l’intégration de solutions open source.
      <h4><strong> Réalisation :</strong> </h4>
      <p>
      <br>
      <ul>
      <li><strong> - CvTech : </strong>Application d’uniformisation des CV interne Smile."</li>
      <br>
      <li> <strong>Specs techniques : </strong>Angular (TailwindCSS, Elf Store, RXJS, Material) - Springboot JAVA</li>
      <li><strong>Environnements :</strong> Angular - Springboot JAVA - NestJS - Github - Intellij</li>
        <li> Développements de nouvelles features, amélioration du code existant (Angular).</li>
      </ul>
    </blockquote>
    <figcaption class="flex items-center justify-center">
      <img class="rounded-full w-16 h-16 bg-zinc-50" src="assets/imgs/smile.png" alt="profile picture">
      <div class="space-y-0.5 font-medium dark:text-white rtl:text-right ms-3">
        <h2> Smile </h2>
        <h2 class="text-sm"> Marseille - 08-2023 / 02-2023 </h2>
      </div>
    </figcaption>
  </figure>
  <figure class="flex flex-col items-center justify-between p-2 text-balance bg-blue-200 border-b border-gray-200
   md:rounded-se-2xl dark:bg-gray-800 dark:border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 lg:mb-8">
      <h3 class="text-2xl font-semibold text-center">
        Developpeur Angular - Springboot Java </h3>
      <h4><strong> Réalisations : </strong></h4>
      <div class="my-4">
        <ul>
          <li>
            <strong> - ERP : </strong>
            Application de gestion des entreprises recevant du public. Développements de
            nouvelles features, amélioration du code existant (Angular)
          </li>
          <br>
          <li><strong>  Environnements :</strong> Angular - Springboot</li>
          <br>
          <li><strong> - RegardBTP : </strong> Application de Gestion d’Épargne Salariale</li>
          <li> Développements de l’application (Angular)</li>
          <li> Maintenance Correctives et Évolutives (Angular - Springboot)</li>
          <br>
          <li> <strong> Environnements :</strong> Angular - Springboot - Gitlab - Intellij</li>
          <li> Développements de nouvelles features, amélioration du code existant (Angular).</li>
          <li> Migration backend ( Webmethod vers Springboot Java). Migration front (JSP vers Angular )</li>
          <br>
        </ul>
      </div>
    </blockquote>
    <figcaption class="flex items-center justify-center xs:justify-around dark:text-white">
      <img class="rounded-full w-16 h-16" src="assets/imgs/alithya.png" alt="profile picture">
      <div class="space-y-0.5 font-medium rtl:text-right ms-3">
        <div> Alithya</div>
        <div class="text-sm"> Marseille - 01-2023 / 07-2023</div>
      </div>
    </figcaption>
  </figure>
  <figure class="flex flex-col p-2 items-center justify-between bg-green-200 border-b border-gray-200
    md:rounded-es-2xl md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 lg:mb-8">
      <h3 class="text-2xl font-semibold text-center">
        Développeur Angular </h3>
      <p class="my-4">
      <ul>
        <li><strong> Réalisations : </strong></li>
        <br>
        <li><strong>Surfnow : </strong> App Cours de Surf</li>

        <li><strong>Bourbon : </strong> Gestion ports et bateaux</li>

        <li><strong>Keeskee : </strong> Logiciel médical</li>

        <li><strong>Spacess : </strong> Flex working, gestion des espaces de travail</li>

        <li><strong>Toolbox : </strong> Gestion projets. RGPD …</li>

        <li><strong>Cozine : </strong> Livraison de plats, concept de corners restaurants…</li>
        <br>

        <li><strong>Stack technique: </strong> Angular (Material - Bootstrap - RXJS- Akita Store - FxLayout) , Kotlin
          Adroid (jetpack).
        </li>
        <br>
        <li><strong>Environnements : </strong> Bitbucket, Jira, Slack, Intellij, MacOS.</li>
      </ul>
    </blockquote>
    <figcaption class="flex items-center justify-center dark:text-white">
      <img class="rounded-full w-16 h-16" src="assets/imgs/devid.jpeg" alt="profile picture">
      <div class="space-y-0.5 font-medium rtl:text-right ms-3">
        <div>Dev-id</div>
        <div class="text-sm">Marseille - 02-2021 / 12-2022</div>
      </div>
    </figcaption>
  </figure>
  <figure class="flex flex-col items-center justify-between p-2 bg-orange-200 border-gray-200
  rounded-b-2xl md:rounded-se-lg dark:bg-gray-800 ">
    <blockquote class="max-w-2xl mx-auto mb-4 lg:mb-8">
      <h3 class="text-2xl font-semibold text-center">Developpeur Maintenance Applicative</h3>
      <p class="my-4">
      <ul>

        <li><strong>Reservit : </strong> Application qui permet aux acteurs de l'hébergement touristique, de la
          restauration et des activités à gérer et commercialiser leurs réservations. Avec développement d’une
          application métiers et un CRM Angular/Java
        </li>
        <br>
        <li><strong> Réalisations : </strong></li>
        <br>

        <li> Développements et maintenance applicative au sein du pôle R&D</li>

        <li> Traitement des bugs, design des bons d’achat, coffret-cadeaux que les hôteliers proposent pour les
          clients
        </li>

        <li><strong>Environnements : </strong>Java, Php, Angular, MySQL, Kibana, Gerrit, Postman, Intellij</li>
      </ul>
    </blockquote>
    <figcaption class="flex items-center justify-center dark:text-white">
      <img class="rounded-full w-16 h-16" src="assets/imgs/reservit.png" alt="profile picture">
      <div class="space-y-0.5 font-medium rtl:text-right ms-3">
        <div> Reservit</div>
        <div class="text-sm">Marseille - 11-2019 / 11-2020</div>
      </div>
    </figcaption>
  </figure>
</div>
