<div class="grid mb-8 border border-gray-200 rounded-2xl shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2  dark:bg-gray-800 m-2">
  <figure class="flex flex-col items-center justify-between p-2 text-center bg-purple-200 border-b border-gray-200 rounded-t-2xl
  md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white"> Développeur Angular - Springboot Java</h3>
      <h4>Réalisation:</h4>
      <p class="my-4">CvTech: Application d’uniformisation des CV interne Smile."</p>
    </blockquote>
    <figcaption class="flex items-center justify-center">
      <img class="rounded-full w-16 h-16 bg-zinc-50" src="assets/imgs/smile.png" alt="profile picture">
      <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
        <h2>Smile</h2>
        <h2 class="text-sm text-gray-500 dark:text-gray-400">Marseille - 08-2023 / 02-2023</h2>
      </div>
    </figcaption>
  </figure>
  <figure class="flex flex-col items-center justify-center p-2 text-balance bg-blue-200 border-b border-gray-200
   md:rounded-se-2xl dark:bg-gray-800 dark:border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white text-center">Developpeur Angular - Springboot Java</h3>
      <h4> Réalisations : </h4>
      <div class="my-4">
        <ul>
          <li> - ERP : Application de gestion des entreprises recevant du public. Développements de nouvelles features, amélioration du code existant (Angular)</li>
          <br>
          <li> - RegardBTP: Application de Gestion d’Épargne Salariale</li>
          <li> Développements de l’application (Angular)</li>
          <li> Maintenance Correctives et Évolutives (Angular - Springboot)</li>
          <br>
          <li> Environnements : Angular - Springboot - Gitlab - Intellij</li>
          <li> Développements de nouvelles features, amélioration du code existant (Angular).</li>
          <li> Migration backend ( Webmethod vers Springboot Java). Migration front (JSP vers Angular)</li>
          <br>
          <li> Environnements : Angular - Springboot</li>
        </ul>
      </div>
    </blockquote>
    <figcaption class="flex items-center justify-center ">
      <img class="rounded-full w-16 h-16" src="assets/imgs/alithya.png" alt="profile picture">
      <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
        <div>Alithya</div>
        <div class="text-sm text-gray-500 dark:text-gray-400"> Aix-en-Provence - 01-2023 / 07-2023</div>
      </div>
    </figcaption>
  </figure>
  <figure

    class="flex flex-col items-center justify-center p-2 text-center bg-green-200 border-b border-gray-200
    md:rounded-es-2xl md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mindblowing workflow</h3>
      <p class="my-4">Aesthetically, the well designed components are beautiful and will undoubtedly level up your next
        application."</p>
    </blockquote>
    <figcaption class="flex items-center justify-center">
      <img class="rounded-full w-16 h-16" src="assets/imgs/devid.jpeg" alt="profile picture">
      <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
        <div>Dev-id</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">Marseille - 02-2021 / 12-2022</div>
      </div>
    </figcaption>
  </figure>
  <figure class="flex flex-col items-center justify-center p-2 text-center bg-orange-200 border-gray-200
  rounded-b-2xl md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Efficient Collaborating</h3>
      <p class="my-4">You have many examples that can be used to create a fast prototype for your team."</p>
    </blockquote>
    <figcaption class="flex items-center justify-center ">
      <img class="rounded-full w-16 h-16" src="assets/imgs/reservit.png" alt="profile picture">
      <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
        <div> Reservit</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">La penne-sur-huveaune - 11-2019 / 11-2020</div>
      </div>
    </figcaption>
  </figure>
</div>
